mixin input(name, attr, type, value)
  - type = type || 'text'
  fieldset.form-group
    label.capitalize(for='#{name}') #{attr.cms && attr.cms.label || name}:
    input.form-control(
      type='#{type}', 
      name="#{name}", 
      value=(value ? value : '')
      required=(attr.required ? "required" : undefined), 
      
      step=(attr.type === 'float'? "any" : undefined)
    )
      
mixin select(name, attr, options, value)
  fieldset.form-group
    label.capitalize(for='#{name}') #{attr.cms && attr.cms.label || name}:
    select.selectize_select(name="#{name}")
      option(value="") Select one
      each item, index in options
        option(value="#{item.value}", selected=(item.value === value) ? "selected" : undefined) #{item.name}
    if attr.model
      a(href='/admin/#{attr.model || name}/create',target="_blank")
        = "New "+ name


mixin checkbox(name, attr, value)
  .checkbox
    label
      input(type='checkbox', name="#{name}", checked=(value)? "checked" : undefined, value="true")
      |  #{attr.cms && attr.cms.label || name}
      
mixin datetime(name, attr, value)
  .form-group
    label #{attr.cms && attr.cms.label || name}:
    .input-group.date()
      input.form-control(type='text', date-time-picker="", name="#{name}")
      span.input-group-addon
        span.glyphicon.glyphicon-calendar

mixin date(name, attr, value)
  .form-group
    label #{attr.cms && attr.cms.label || name}:
    .input-group.date()
      input.form-control(type='text', date-time="", name="#{name}")
      span.input-group-addon
        span.glyphicon.glyphicon-calendar


mixin textarea(name, attr, value)
  fieldset.form-group
    label.capitalize(for='#{name}') #{attr.cms && attr.cms.label || name}:
      textarea.form-control( name="#{name}", required=(attr.required ? "required" : undefined))
        =(value ? value : '')

mixin combo(name, attr, options, value)
  fieldset.form-group
      label.capitalize(for="#{name}") #{attr.cms && attr.cms.label || name}:
      input.selectize(name="#{name}", data-options="#{options}", value="#{value}", multiple)
      a(href='/admin/#{attr.collection}/create',target="_blank")
        = "New "+name

mixin subFields(name, attr, possible_fields, values)
  fieldset.form-group
    label.capitalize(for="#{name}") #{attr.cms && attr.cms.label || name}:

case element
  when 'input'
    +input(name, attr, type, value)
  when 'datetime'
    +datetime(name, attr, value)
  when 'date'
    +date(name, attr, value)
  when 'select'
    +select(name, attr, options, value)
  when 'checkbox'
    +checkbox(name, attr, value)
  when 'textarea'
    +textarea(name, attr, value)
  when 'combo'
    +combo(name, attr, options, value)
  when 'subFields'
    +subFields(name, attr, possible_fields, values)

