<% var inputType = type || 'text'; %>
<% var inputType = _.get(attr,"cms.type", false) == 'password' || attr.protect ? 'password' : inputType; %>
<div class="panel panel-default form-group">
  <div class="panel-body">
    <label class="control-label capitalize" for="<%= name %>">
      <%= (attr.cms && attr.cms.label) || name %><%= attr.required ? '*' : '' %>:
    </label>
    <% var val = (value && (_.get(attr,"cms.type", false) !== 'password' || !attr.protect)) ? value : ''; %>
    <% var val = (!value && attr.defaultsTo) ? attr.defaultsTo : value; %>
    <input class="form-control"
      type="<%= inputType %>"
      name="<%= name %>"
      value="<%= val %>"
      <%= attr.required ? 'required' : '' %>
      <%= _.get(attr,"cms.disabled",false) ? 'disabled' : '' %>
      <%= (attr.type === 'float' || _.get(attr, "cms.type", false) == "float") ? 'step=any' : '' %>
      id="<%= name %>"
    />
  </div>
  <% if (_.get(attr, "cms.description", false)) { %>
    <div class="panel-footer"><%- attr.cms.description %></div>
  <% } %>
</div>
