<div class="panel panel-default form-group">
  <div class="panel-body">
    <%= (attr.cms && attr.cms.label) || name %>
      <%= attr.required ? '*' : '' %>:

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary <%= value && 'active' %>">
            <input type="radio" name="<%= name %>" value="true" autocomplete="off"  <%= value && 'checked' %>> Yes
        </label>
        <label class="btn btn-primary <%= !value && 'active' %>">
            <input type="radio" name="<%= name %>" value="false" autocomplete="off" <%= !value && 'checked' %>> No
        </label>
      </div>
  </div>
  <% if (attr.cms && attr.cms.description) { %>
    <div class="panel-footer"><%- attr.cms.description %></div>
    <% } %>
</div>