<div class="panel panel-default checkbox form-group">
    <div class="panel-body">
      <label class="control-label" for="<%= name %>">
        <%= (attr.cms && attr.cms.label) || name %><%= attr.required ? '*' : '' %>
      </label>
      
      <div class="input-group">
        <input type="radio"
            name="<%= name %>"
            value="true"
            id="<%= name %>"
            <%= value ? 'checked' : '' %>
            <%= attr.cms && attr.cms.disabled ? 'disabled' : '' %>
          />
          On
      </div>

      <div class="input-group">
        <input type="radio"
            name="<%= name %>"
            value="false"
            id="<%= name %>"
            <%= (value === 'false') ? 'checked' : '' %>
            <%= attr.cms && attr.cms.disabled ? 'disabled' : '' %>
          />
          Off
      </div>
    </div>
    <% if (attr.cms && attr.cms.description) { %>
      <div class="panel-footer"><%- attr.cms.description %></div>
    <% } %>
  </div>
  