doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Admin
    //-google fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    //-bootstrap
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    //-bootstrap-datepicker
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css")

    link(rel="stylesheet", href="/admin/css/fonts/FontAwesome/css/all.css")
    link(rel="stylesheet", href="/admin/css/selectize.css")
    link(rel="stylesheet", href="/admin/css/selectize.default.css")


  each css in config.styles
      link(rel="stylesheet", href="#{css}")

  style.
      html, body {
        font-family: 'Open Sans', sans-serif;
      }
  body

    nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/admin')
              img.logo(alt='#{config.title}', src='#{config.logo_url}')
          #bs-example-navbar-collapse-1
            //-.collapse.navbar-collapse
            ul.nav.navbar-nav
              each model in _.filter(_.sortBy(sails.hooks.orm.models, "order"), function(model) {return _.get(model,"meta.junctionTable", false) == false})
                if !model.cms || model.cms && !model.cms.hide
                    li.nav-item
                      - var title = _.get(model, "cms.label", model.identity);
                      a.nav-link.text-capitalize(href='/admin/#{model.identity}') #{title}
    .container-fluid
      block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    //-moment
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    //-bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
    //-bootstrap-datepicker
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js")

    script(src="/admin/js/selectize.min.js")
    script(src="/admin/js/selectize-tree.js")
    script(src="/admin/js/admin.js?v=1.1")


  //- script
    block scripts
